In [1]:
import pandas as pd

/var/folders/c6/0cyt6hb142l4v20j3d67l7kr0000gn/T/ipykernel_19382/3075176015.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  from pandas import Series, DataFrame

### Read in the cars.csv file, and print the first row

In [6]:
df = pd.read_csv('./cars.csv')
first_row = df.head(1)
print(first_row)

                      type   mpg  cyl   disp     hp    wt  speed  wt.1
0  AMC Ambassador Brougham  13.0    8  360.0  175.0  3821   11.0    73

### Print the last 5 columns of the last 5 rows

In [7]:
last_five = df.tail(5)
print(last_five)

                   type   mpg  cyl   disp     hp    wt  speed  wt.1
401  Volvo 145E (Wagon)  18.0    4  121.0  112.0  2933   14.5    72
402         Volvo 244DL  22.0    4  121.0   98.0  2945   14.5    75
403           Volvo 245  20.0    4  130.0  102.0  3150   15.7    76
404         Volvo 264GL  17.0    6  163.0  125.0  3140   13.6    78
405        Volvo Diesel  30.7    6  145.0   76.0  3160   19.6    81

### Print the row for the car named *"Volvo 264GL"*

In [8]:
df[df['type'] == 'Volvo 264GL']

            type   mpg  cyl   disp     hp    wt  speed  wt.1
404  Volvo 264GL  17.0    6  163.0  125.0  3140   13.6    78

### Create a column named _kpl_ that contains the mileage of each car, in kilometers per liter.

You already have miles-per-gallon (mpg). 1 mile = 1.609 kilometers, and 1 gallon = 3.785 liters.

In [9]:
df['kpl'] = df['mpg'] * 1.609 / 3.785

### Add a new column called *disp_per_cyl* to the dataframe.

The values of this column should be the displacement (*disp*) per cylinder (*cyl*) for each car.

In [10]:
df['disp_per_cyl'] = df['disp'] / df['cyl']

### Print the names of the 5 fastest cars.

In [21]:
print(', '.join(df.sort_values(by=['speed'], ascending=False).head(5)['type'].values))

Peugeot 504, Volkswagen Pickup, Volkswagen Dasher (Diesel), Volkswagen Type 3, Chevrolet Chevette

### Find the fraction of cars that have 8 cylinders

*Hint:* Use the len() function to get the number of rows of a DataFrame

In [38]:
from fractions import Fraction

frac = Fraction(len(df[df['cyl'] == 8]) / len(df))

print(frac)

2396003742640461/9007199254740992

### Which cars are just way too heavy?

Suppose the average weight of all cars is m, and the standard deviation of weights is s.
A car is too heavy if its weight is greater than m + 2*s.

*Hint:* Look at the mean() and std() methods of Series.

In [24]:
st_dev = df['wt'].std()
avg = df['wt'].mean()

df[df['wt'] > avg + 2 * st_dev]

,type,mpg,cyl,disp,hp,wt,speed,wt.1,kpl,disp_per_cyl
40,Buick Century Luxus (Wagon),13.0,8,350.0,150.0,4699,14.5,74,5.526288,43.750
44,Buick Electra 225 Custom,12.0,8,455.0,225.0,4951,11.0,73,5.101189,56.875
80,Chevrolet Impala,11.0,8,400.0,150.0,4997,14.0,73,4.676090,50.000
109,Chrysler New Yorker Brougham,13.0,8,440.0,215.0,4735,11.0,73,5.526288,55.000
158,Dodge Monaco (Wagon),12.0,8,383.0,180.0,4955,11.5,71,5.101189,47.875
172,Ford Country Squire (Wagon),13.0,8,400.0,170.0,4746,12.0,71,5.526288,50.000
174,Ford Country,12.0,8,400.0,167.0,4906,12.5,73,5.101189,50.000
225,Hi 1200D,9.0,8,304.0,193.0,4732,18.5,70,3.825892,38.000
259,Mercury Marquis Brougham,12.0,8,429.0,198.0,4952,11.5,73,5.101189,53.625
333,Pontiac Safari (Wagon),13.0,8,400.0,175.0,5140,12.0,71,5.526288,50.000

### Which cars have a name that is more than 30 characters long?

In [42]:
df[df['type'].str.len() > 30]

,type,mpg,cyl,disp,hp,wt,speed,wt.1,kpl,disp_per_cyl
49,Buick Regal Sport Coupe (Turbo),17.7,6,231.0,165.0,3445,13.4,78,7.524254,38.500000
66,Chevrolet Chevelle Concours (Wagon),NaN,8,350.0,165.0,4142,11.5,70,NaN,43.750000
67,Chevrolet Chevelle Concours (Wagon),13.0,8,307.0,130.0,4098,14.0,72,5.526288,38.375000
68,Chevrolet Chevelle Malibu Classic,16.0,6,250.0,100.0,3781,17.0,74,6.801585,41.666667
69,Chevrolet Chevelle Malibu Classic,17.5,8,305.0,140.0,4215,13.0,76,7.439234,38.125000
84,Chevrolet Malibu Classic (Wagon),19.2,8,267.0,125.0,3605,15.0,79,8.161902,33.375000
108,Chrysler Lebaron Town & Country (Wagon),18.5,8,360.0,150.0,3940,13.0,79,7.864333,45.000000
266,Oldsmobile Cutlass Ciera (Diesel),38.0,6,262.0,85.0,3015,17.0,82,16.153765,43.666667
268,Oldsmobile Cutlass Salon Brougham,19.9,8,260.0,110.0,3365,15.5,78,8.459472,32.500000
269,Oldsmobile Cutlass Salon Brougham,23.9,8,260.0,90.0,3420,22.2,79,10.159868,32.500000
310,Plymouth Satellite Custom (Wagon),14.0,8,318.0,150.0,4077,14.0,72,5.951387,39.750000
388,Volkswagen Rabbit Custom Diesel,43.1,4,90.0,48.0,1985,21.5,78,18.321770,22.500000